{% extends 'base.html' %}

{% block content %}

        <h1>User Page</h1>
    
        <h5>Name: </h5>
        <p>{{ name }}</p> <!-- Ubahlah sesuai dengan nama kamu -->
        <h5>Class: </h5>
        <p>{{ class }}</p> <!-- Ubahlah sesuai dengan kelas kamu -->
    
        <h1>Food Stock</h1>
    
        <p>Kamu menyimpan sejumlah {{count_item}} item pada FoodStock</p>

        <!-- {% for item in items %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{item.item_name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{item.amount}} items</h6>
              <p class="card-text">{{item.description}}</p>
              <h6 class="card-subtitle mb-2 text-muted">{{item.amount}} items</h6>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        {% endfor %} -->
    
        
        <table>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Options</th>
            </tr>
    
            {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
            {% for item in items %}
                <tr class="last-item"></tr>
            </tr>
            <tr class="{% if forloop.last %}last-row{% endif %}">
                    <td>{{item.item_name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.date_added}}</td>
                    <td>
                        <div class="item-buttons">
                            <a href="{% url 'main:add_item' item.id %}">
                                <button>
                                    Add Item
                                </button>
                            </a>
                            <a href="{% url 'main:reduce_item' item.id %}">
                                <button>
                                    Remove Item
                                </button>
                            </a>
                            <a href="{% url 'main:delete_item' item.pk %}">
                                <button>
                                    Delete Item
                                </button>
                            </a> 
                        </div>
                    </td>
                </tr>
  
            {% endfor %}
        </table>

        <!-- <div class="items-div">
            {% for item in items %}
            <div class='item'>
                <div class="item-head">
                    <p>{{item.item_name}}</p>
                    <div class="amount-div">
                        <p>{{item.amount}}</p>
                    </div>
                </div>
                <div class='desc-div'>
                    <p>{{item.description}}</p>
                    <p>{{item.date_added}}</p>
                </div>
            </div>
            {% endfor %}
        </div> -->
    
        <a href="{% url 'main:create_item' %}">
            <button class="add-item-btn">
                Add New Item
            </button>
        </a>
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
        
        <h5>Sesi terakhir login: {{ last_login }}</h5>



{% endblock content %}