{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  

<div class="register mx-auto">
    <div class="shadow-lg bg-body mx-auto p-5" style="max-width: 70%">
    
    <h1>Register</h1>  
            <form style="max-width: 100%;" method="POST" >  
                {% csrf_token %}  
                <table>  
                        {{ form.as_table }}  
                        <td style="border:none;" colspan="2"><input style="width: 100%;" type="submit" name="submit" value="Daftar"/></td>  
                </table>  
            </form>


    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  
</div>  

{% endblock content %}